<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t("user_mailer.reminder_email.subject") %></h1>
    <p><%= t("user_mailer.reminder_email.greeting", name: @user.name) %></p>
    <p><%= t("user_mailer.reminder_email.body_html", title: @ticket.title, due_date: @ticket.due_date) %></p>
    <p><%= t("user_mailer.reminder_email.review") %></p>
    <p><%= t("user_mailer.reminder_email.thanks") %><br/><%= t("user_mailer.reminder_email.team") %></p>
  </body>
</html>